# ---------- App ----------
MODE=DEV

# ---------- PostgreSQL ----------
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=tracking_outcomes_tenders

# ---------- RabbitMQ ----------
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=tenders
RABBITMQ_STATUS_QUEUE=tender_status_updates